.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-draggable-board {
  background-color: #222;
  height: 80vh;
  width: 80vw;
  color: white;

  position: relative;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 130px;
  width: 107px;

  position: absolute;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
